
{% extends "base.html" %}
{% block user_page %}  
              <section class="row">
                <div class="col-md-6 col-lg-3">
                  <!-- card -->
                  <article class="p-4 rounded shadow-sm border-left
                     mb-4">
                    <div class="m-0 text-center">
                     <div class="icon-circle mb-3">
                                <i class="fa-solid fa-industry"></i>
                            </div>
                            <h5><strong>Total No. of Machines</strong></h5>
                            <div id="total-machines">
                              
                            </div>
                        </div>
                  </article>
                </div>
                <div class="col-md-6 col-lg-3">
                    <!-- card -->
                    <article class="p-4 rounded shadow-sm border-left
                       mb-4">
                       <div class="m-0 text-center">
                        <div class="icon-circle mb-3">
                            <i class="fa-solid fa-pills"></i>
                        </div>  
                        <h5><strong> No of Medicinal Strips </strong></h5>
                        <div id="total-strips">
                        </div>

                       </div>
                    </article>
                  </div>
                <div class="col-md-6 col-lg-3">
                  <article class="p-4 rounded shadow-sm border-left mb-4">
                    <div class="m-0 text-center">
                        <div class="icon-circle mb-3">
                            <i class="fa-solid fa-capsules text-danger"></i>
                        </div>
                        <h5><strong>No of Faulty Strips</strong></h5>
                        <p></p>
                        <div id='faulty-strips'>
                        </div>
                    </div>
                  </article>
                </div>
                <div class="col-md-6 col-lg-3">
                  <article class="p-4 rounded shadow-sm border-left mb-4">
                    <div class="m-0 text-center">
                    <div class="icon-circle mb-3">
                        <i class="fa-solid fa-prescription-bottle-medical text-success"></i>
                    </div>
                    <h5><strong>No of Non-Faulty Strips</strong></h5>
                    <p></p>

                            <div id='non-faulty-strips'>
                            
                            </div></div>
                  </article>
                </div>
              </section>
              
              <div class="bg-white border-0 border-left px-3 py-2 rounded shadow-sm">
                <div class="m-0 my-3 px-0 row">
                    <div class="col-6 p-0">
                        <div class="h5">Available Machines</div>
                    </div>
                    <div class="col-6 p-0 text-right">
                        <button class="btn btn-primary" aria-label="Add new machine" data-toggle="modal" data-target="#addMachineModal">
                            Link Machine <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="w-100">
            
                <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Machine Code</th>
                            <th>Created By</th>
                            <th>created_date</th>
                            <th>updated_date</th>
                            <th>Generate Report</th>
                            <th>De-Link</th>
                            </tr>
                    </thead>
                    <tbody id="machines-table-body"></tbody>
                </table>
            
            </div>
        </div>
      </div>
          
      {% endblock %}