<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='icon/favicon.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/3a44b96126.js" crossorigin="anonymous"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />

	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</head>
<body>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}

    <div class= "text-center justify-content-center alert alert-primary block-message error">
        <a class="close" href="/login">×</a>
        <ul>
          {%- for msg in errors %}
            <li>{{ msg }}</li>
          {% endfor -%}
        </ul>
        </div>
        {% endif %}
    {% endwith %}
    {% with errors = get_flashed_messages(category_filter=["Info"]) %}
        {% if errors %}

    <div class= "text-center justify-content-center alert alert-primary block-message error">
        <a class="close" href="/login">×</a>
        <ul>
          {%- for msg in errors %}
            <li>{{ msg }}</li>
          {% endfor -%}
        </ul>
        </div>
        {% endif %}
    {% endwith %}

    <div class="">
        <div class="row">
            
            <div class="col-lg-6 col-xl-6 p-0">
                <div class="d-flex flex-column h-100 justify-content-center">
                    <div class="pb-3 pt-1 px-5">
                        <div class="mb-5 text-center">
                            <img class="bx bxl-c-plus-plus" src="static\images\logo_.png" style="
        width: 23%;
    ">
                        </div>
                        <div class="form__content__header text-left">
                            <h1 class="form__content__heading h2 mb-3">Welcome Back !👋</h1>
                            <div class="form__content__description">
                                Today is a new day. It's your day. You shape it. Sign in to start managing your projects.
                            </div>
                        </div>

                        
                        
                        <form id = "loginForm" method="POST" action = "/login" enctype="application/x-www-form-urlencoded">
                                <label for="validationServerUsername" class="form-label">Email</label>
                                <input name="email" type="email" class="form-control my-2" required>
                                    
                                <label>Password</label> 
                                <input name="password" type="password" class="form-control my-2" required>
                                <div>
                                    <a href="/forgetPassword" class="">forget password</a>
                                </div>
                                <div class="my-3">
                                    <button type ="submit" value="Login" class="btn btn-primary w-100">Log in</button>
                                </div>
                                <div class="text-center">
                                    <span>Don't have an account?</span>
                                    <a href="/register" class="text-primary">Sign up</a>
                                </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 p-0">
                <div class="w-100">
                    <img class="img-fluid w-100" src="static\images\27431020_7317077.svg">
                </div>
            </div>
           </div>
    </div>

</body>
</html>
