
{% extends "base.html" %}
{% block user_page %}  
  
        <!-- Main Content -->
        <!-- Use col-12 on small screens; col-md-10 on medium+ -->
        <section class="col-12 col-md-10 home-section">
          <div class="py-4">
            <div class="row justify-content-center">
              <div class="col-12 col-md-8">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-3 border-end">
                        <ul class="nav nav-pills flex-column" role="tablist">
                          <li class="nav-item">
                            <a
                              class="nav-link active font-weight-bold"
                              data-bs-toggle="tab"
                              href="#tabs-1"
                              style="color: #686767"
                            >
                              Profile
                            </a>
                          </li>
                          <li class="nav-item">
                            <a
                              class="nav-link font-weight-bold"
                              data-bs-toggle="tab"
                              href="#tabs-2"
                              style="color: #686767"
                            >
                              Change Password
                            </a>
                          </li>
                        </ul>
                      </div>
                      
                      <div class="col-md-9 tab-content">
                        <!-- Tab 1 -->
                        <div
                          class="tab-pane fade show active"
                          id="tabs-1"
                          role="tabpanel"
                        >
                          <h3 class="mb-4 mt-2">Edit Profile</h3>
                          <div class="row">
                            <div class="col-4 col-sm-3">
                              <div class="custom-profile-pic w-100">
                                <label
                                  class="custom-label"
                                  for="ProfileIcon"
                                >
                                  <span class="custom-glyphicon glyphicon-camera"></span>
                                  <span>Change Image</span>
                                </label>
                                <input
                                  id="ProfileIcon"
                                  type="file"
                                  accept="image/*,video/*"
                                  capture=""
                                >
                                <img
                                  src="https://dl5hm3xr9o0pk.cloudfront.net/instagram/WhatsApp%20Image%202023-11-06%20at%2010.31.37%20AM.jpg"
                                  class="border custom-output"
                                  width="150"
                                  alt="Profile"
                                >
                              </div>
                            </div>
                            <div class="col-8 col-sm-9 border-start">
                              <div class="my-1">
                                <label class="font-weight-bold">Name:</label>
                                <input
                                  id="ProfileName"
                                  type="text"
                                  class="form-control m-0 text-capitalize"
                                  value="Hassan Gagai"
                                >
                              </div>
                            
                            </div>
                          </div>
                          <div class="text-end mt-4">
                            <button
                              profile_id="61"
                              id="saveProfileChange"
                              class="btn btn-primary"
                            >
                              Save Change
                            </button>
                          </div>
                        </div>
                        
                        <!-- Tab 2 -->
                        <div
                          class="row tab-pane fade text-center"
                          id="tabs-2"
                          role="tabpanel"
                        >
                          <h3 class="mb-4 mt-2">Change Your Password</h3>
                          <div class="col-md-6 offset-md-3">
                            <form id="passwordChangeForm">
                              <div class="mb-3">
                                <label>Old Password</label>
                                <input
                                  type="password"
                                  class="form-control"
                                  id="oldPassword"
                                >
                              </div>
                              <div class="mb-3">
                                <label>New Password</label>
                                <input
                                  type="password"
                                  class="form-control"
                                  id="newpassword"
                                >
                              </div>
                              <div class="mb-3">
                                <label>Re-type New Password</label>
                                <input
                                  type="password"
                                  class="form-control"
                                  id="renewpassword"
                                >
                              </div>
                              <button
                                type="submit"
                                class="btn btn-primary"
                                onclick="ChangePassword()"
                              >
                                Submit
                              </button>
                            </form>
                          </div>
                        </div><!-- end Tab 2 -->
                      </div><!-- end col-md-9 -->
                    </div><!-- end row -->
                  </div><!-- end card-body -->
                </div><!-- end card -->
              </div><!-- end col-md-8 -->
            </div><!-- end row justify-content-center -->
          </div><!-- end py-4 -->
        </section><!-- end home-section -->
{% endblock %}